<h1>Multiply result</h1>
<p>@ViewData["MultiplyResult"]</p>

@{
    int left = Convert.ToInt32(ViewData["left"]);
    int right = Convert.ToInt32(ViewData["right"]);
    int result = left * right;
}

<p>@result</p>